body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    gap: 25px;
    max-width: 600px;
}


.flex-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    font-family: monospace;
    font-size: 18px;
    background-color: rgb(224, 218, 218);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: black 2px dotted;
    
}