body {
  position: relative;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

.gold-radial-bg {
    position: absolute;
    top: 25%;
    transform: translateX(-50%);
    height: 60vh;
    width: 100%;
    background: radial-gradient(
        circle at 60% 50%, 
        rgba(255, 215, 0, 0.3) 0%,   
        rgba(218, 165, 32, 0.1) 40%,  
        transparent 70%               
    );
    
    border-bottom-left-radius: 400px;
    border-bottom-right-radius: 400px;
    z-index: 1;
    pointer-events: none;
    filter: blur(40px);
}

.logo-header {
  height: 40px;
  width: 40px;
  margin: 0 10px;
}

a.custom-hover-white:hover {
  color: white !important;
}

[data-bs-theme="light"] .bg-body-tertiary,
:root:not([data-bs-theme="dark"]) .bg-body-tertiary {
  --bs-tertiary-bg-rgb: 255, 248, 225 !important;
  background-color: rgb(var(--bs-tertiary-bg-rgb)) !important;
}

.carousel-inner {
  height: 500px;
}

.carousel-inner img {
  height: 500px;
  object-fit: cover;
  width: 100%;
}

.price_table th {
    border-bottom: 1px solid #dee2e6;
    padding: 10px;
}

.price_table td {
    border-bottom: 1px solid #dee2e6;
    padding: 10px;
}

.price_table th.part {
    border-bottom: none;
    border-top: 1px solid #dee2e6;
    padding-top: 20px;
    padding-bottom: 5px;
}

@media (max-width:768px) {
  .gold-radial-bg {
    z-index: -1;
  }
}