        body {
            background-color: rgb(150, 150, 150);
        }

        div {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            box-shadow: 0 0 15px black;
        }

        .rectangle {
            width: 200px;
            height: 100px;
            background-color: blue;
        }

        .circle {
            width: 80px;
            height: 80px;
            background-color: aqua;
            border-radius: 50%;
            z-index: 1;
            scale: 1;
            transition: scale 1s ease;
        }

        .circle:hover {
            scale: 1.2;
        }